<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.awall.awalladmin.dao.LikeMapper">
    <resultMap id="likeMap" type="like">
        <id property="likeId" column="like_id" />
        <result property="userId" column="user_id" />
        <result property="articleId" column="article_id" />
        <result property="status" column="status" />
    </resultMap>

    <insert id="saveLike" parameterType="like" useGeneratedKeys="true" keyColumn="like_id" keyProperty="likeId">
        insert into tb_like(user_id,article_id,status)
        values (#{userId},#{articleId},#{status});
    </insert>

    <update id="setStatusById">
        update tb_like set status=#{status} where like_id = #{ id }
    </update>

    <select id="getByLikedUserIdAndLikedPostId" resultMap="likeMap">
        select like_id, user_id, article_id, status
        from tb_like
        where user_id = #{userId} and article_id = #{articleId}
    </select>

    <select id="getCountById" resultType="Integer">
        select star
        from tb_article
        where article_id = #{ id };
    </select>
</mapper>

